@model IEnumerable<Calendar>

@{
    Layout = "~/Areas/Panel/Views/Shared/_Layout.cshtml";
}

@{

    int PageNumber = 1;

    try { PageNumber = Convert.ToInt32(System.Web.MyHttpContext.Current.Request.Query["pagenumber"]); } catch { PageNumber = 1; }
    PageNumber = PageNumber <= 0 ? 1 : PageNumber;


    int MaxRows = 0;
    try { MaxRows = Convert.ToInt32(ViewData["MaxRows"]); } catch { MaxRows = 0; }


    int CountRow = 10;
    try
    {
        CountRow = Convert.ToInt32(ViewData["CountRow"]);
        CountRow = CountRow <= 0 ? 10 : CountRow;
    }
    catch
    {
        CountRow = 10;
    }


}

@await Html.PartialAsync("Message", new MessageModel())

<div class="bigbox colorBackWhite colorBorderGray positionRelative">

    <img class="arrow rotate" src="/imagepanel/icons/arrow_down.png" onclick="openBigBox(this)" />

    <form class="form textAlignCenter">

        <div id="diverrors" class="errors textAlignRight">
            <img src="/imagesite/icons/error.png" />
            <p id="errormsg"></p>
            <input type="text" id="focusable" />
        </div>

        <div class="step opacityOne" id="step1">

            <div class="row rowbox">
                <div class="row rowInline2">
                    <label class="lbl">روز</label>
                    <select id="Day" class="chPreviousColor" asp-items="ViewBag.Days"></select>
                </div>

                <div class="row rowInline2">
                    <label class="lbl">ماه</label>
                    <select id="Month" class="chPreviousColor" asp-items="ViewBag.Months"></select>
                </div>

                <div class="row rowInline2">
                    <label class="lbl">سال</label>
                    <input id="Year" class="chPreviousColor textAlignLeft directionLtr" type="text" pattern="[0-9]*" inputmode="numeric" placeholder="مثال: 1399" value="@ViewData["Year"]" />
                </div>
            </div>

            <div class="row rowInline">
                <label class="lbl">توضیحات</label>
                <input id="Comment" class="chPreviousColor" type="text" />
            </div>

            <div class="row textAlignCenter">
                <input type="button" class="buttonSingle colorBackSeconday" value="ثبت شود" onclick="holidayed()" />
            </div>

        </div>
    </form>
</div>

<div class="bigbox displayBlock textAlignRight">
    <input class="buttonSingle buttonSingle4 displayInlineBlock colorBackRed" style="width :250px" value="حذف روزهای انتخاب شده" onclick="holidaydelete()" />
</div>

<div class="bigbox displayBlock textAlignCenter colorBackWhite" style="overflow-x: auto; padding: 10px;">
    <table cellspacing="0" class="grid">
        <tr>
            <th><input type="checkbox" id="chkAll" onclick="chkAllGrid();" /></th>
            <th>ردیف</th>
            <th>روز</th>
            <th>تاریخ</th>
            <th>توضیحات</th>
        </tr>
        @{
            int i = 0;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td><input type="checkbox" class="chkGrid" value="@item.CalendarId" /></td>
                <td>@((PageNumber - 1) * CountRow + i + 1)</td>
                <td>@Codes.getPersianDay(item.CalendarDate)</td>
                <td>@Codes.getPersianDate(item.CalendarDate)</td>
                <td>@Html.Raw(item.CalendarComment)</td>
            </tr>

            i++;
        }
    </table>

    @if (MaxRows > 0)
    {
        @await Html.PartialAsync("Paging", MaxRows)
    }


</div>
