@model Es.DataLayerCore.Model.Introduction

@{
    string Title = " جدید";

    ViewData["Title"] = " جدید";


}

<form class="form textAlignCenter">
    <p id="formTitle" class="titr textAlignRight">@Html.Raw(Title)</p>

    <div id="diverrors" class="errors textAlignRight">
        <img src="/imagesite/icons/error.png" />
        <p id="errormsg"></p>
    </div>

    <div class="step opacityOne" id="step2">

        <div class="row rowInline">
            <label class="lbl">عنوان</label>
            <input asp-for="@Model.IntroductionTitle" value="@Model.IntroductionTitle" class="chPreviousColor" type="text" />
        </div>
        <div class="row rowInline">
            <label class="lbl">شغل</label>
            <input asp-for="@Model.IntroductionPosition" value="@Model.IntroductionPosition" class="chPreviousColor" type="text" />
        </div>

        <div class="row rowInline">
            <label class="lbl">مقطع</label>
            <select id="IntroductionTypeId" class="chPreviousColor" title="@Model.IntroductionTypeId">
                @foreach (var introductionType in ViewBag.IntroductionTypeId)
                {


                        <option value="@introductionType.IntroductionTypeId">@Html.Raw(introductionType.IntroductionTypeTitle)</option>
                 
                }
            </select>
            @*<select asp-for="@Model.IntroductionTypeId"
                class="form-control"
                asp-items="@(new Microsoft.AspNetCore.Mvc.Rendering.SelectList(@ViewBag.IntroductionTypeId,"IntroductionTypeId", "IntroductionTypeTitle"))">
        </select>*@
        </div>

        <div class="row rowInline">
            <label style="width:0px" class="lbl">فایل</label>

            <input type="file" style="width:80%;opacity:1;position:unset " class=" form-control png" id="filePic">

        </div>

        <input type="hidden" id="returnUrl" name="returnUrl" value="@ViewData["returnUrl"]" />


        <div class="row textAlignCenter">
            <input type="button" class="buttonSingle colorBackThirty" value="بازگشت" onclick="cancelCh()" />
            <input type="button" class="buttonSingle colorBackSeconday" value="ثبت شود" onclick="newdedIntroduction()" />
        </div>
    </div>



</form>
